.app-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.app-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.app-header nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.app-header nav a:hover {
  text-decoration: underline;
}

.app-header nav a.active-link {
  color: #61dafb;
  font-weight: bold;
}